header
    .header
        nav
            ul.header__list
                li
                    a(href ="file:///C:/Users/DIAMOND/Desktop/node%2039/ht18/main.html") link 1
                li
                    a(href ="file:///C:/Users/DIAMOND/Desktop/node%2039/ht18/about.html") link 2
                li
                    a(href ="file:///C:/Users/DIAMOND/Desktop/node%2039/ht18/contacts.html") link 3