header
    .header
        nav
            ul.header__list
                li
                    a(href ="file:///C:/Users/DIAMOND/Desktop/node%2039/ht18/main.html") main
                li
                    a(href ="file:///C:/Users/DIAMOND/Desktop/node%2039/ht18/about.html") about
                li
                    a(href ="file:///C:/Users/DIAMOND/Desktop/node%2039/ht18/contacts.html") contacts