doctype html
html(lang="ru-RU")
    head
    body
        include public/header
        h1 cont
    div#nameOfDiv
        input(
            type= "text"
            id = "userName"
            value = "Your Name"
        ) 
        input(
            type = "button"
            value = "Send"
            id = "FirstButt"
            onclick = 'alert("document.getElementById('userName')[0].value")'
         )
        script(src="script.js")
        